[Unit]
Description=Greenbone Security Assistant (OpenVAS)
After=network.target
After=ospd-openvas.service
After=gvmd.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/gsad
PIDFile=/var/run/gsad.pid
ExecStart=/usr/sbin/gsad  --munix-socket=/var/run/gvm/gvmd.sock  $OPTIONS
User=root
Group=root

[Install]
WantedBy=multi-user.target

